<ion-content [fullscreen]="true">
 

  <ion-item>
    <ion-avatar slot="start">
      <img src="https://lh3.googleusercontent.com/RWG8LYrcmFCUi_G0w9_s5jvmZ0Vd6PurHKdAS3NHPVsG49iW2ygMwc_msYtf85XQDYO1wDuqU015Cwsva5nbd_UakJm_zyvc4jMjjLMI-lI_fadK2et2pCJIyU3QxlAdklNDSycQC-Iyr2lZ7pWX0Lm6SoPHImjX1Fm9TpT4pJawSTGcZ-mwt6AFGOkGJ9U6CzAg1zas4CXViKZAUayUV3i2Pa0xb78ORJWNtWDiugNG2J2poXCPIYvSoO_NyuvRmTfpzL-73b4k3RaC2lHjCZO8DG_FjtRrnIYv65u7jdCznm0yz6_39YEfAu7dPNYht_cXlYlleXLEkL_vN-XX-DND8GRH418zyS0GSodoIdipVV8yU2bDZWREFCdav6tUMOtAMD631ITKiDIPbK78Cu3nYv4KB-IM6p-1CZ_OBRrlL744jVAQ0yAI0dFxG4EIYrBzq8jJ7Nm73QJpD4tdN7ppqPXOhFQO0C5OGlw6DQMiW-AxjI1iKXjHS59Yzn86IFCcb-xOPXJ2DZCjRtBjASRK8uiKQOY7l43uOMW02L4LRcbIPRTTbV7HrxtSq3IskqGEGmnUHmH8cRUPHqKqQOrCviBSgUjBz9lHuIKMLeEP80195PYaOyr6CoAG4FjGKIcxDiSku6F5Dc2HEXFGc3ex2zP5HYC8xDKXHWodunwadcXV4bCar_hjZJFnZsQ=w670-h893-no?authuser=0">
    </ion-avatar>
    <ion-label>Hoja de Vida</ion-label>
  </ion-item>

  <ion-card>
    <ion-card-header>
      
    <ion-card-title>Perfil</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <img src="https://scontent.fuio1-1.fna.fbcdn.net/v/t1.0-9/106983936_3072734066149354_6328235454679614101_n.jpg?_nc_cat=111&_nc_sid=09cbfe&_nc_eui2=AeGZkVpTXczAERADg-K7GPNZRLPfPUhzbzpEs989SHNvOoZWYjfY7iiClXFtFIIWfb5ILOypPdhKoaCpC84_I3wa&_nc_ohc=bdkCEP3HESYAX8ayKL-&_nc_ht=scontent.fuio1-1.fna&oh=afc65cba0d4b2099476f846d7d0f5c88&oe=5F5526F2">
      <br>
      <ion-icon name="logo-twitch"></ion-icon>
      Nombre completo: Josselyn Denisse Vela Nieto
      <br>
      <ion-icon name="logo-ionitron"></ion-icon>
      Pais y Ciudad de Origen: Ecuador-Quito
      <br>
      <ion-icon name="woman-outline"></ion-icon>
      Soltera, 23 años
      <br>
      <ion-icon name="phone-portrait-outline"></ion-icon>
      0998958277
      <br>
      <ion-icon name="mail-unread-outline"></ion-icon>
      deojosselyn@hotmail.com
      <br>
      <ion-icon name="business-outline"></ion-icon>
      La Gatazo, S17D Oe5-169
      


        </ion-card-content>
  </ion-card>

</ion-content>
