<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Experiencia Laboral
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>Multicobro S.A</ion-label>
    </ion-item>
  
    <ion-card-content>
      Cargo: Agente de cobranzas
      <br>
      Duracion: 7 meses.
    </ion-card-content>
  </ion-card>
  

  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        Referencias Personales
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <br>
  <ion-item>
    <ion-avatar slot="end">
      <img src="https://scontent.fuio1-1.fna.fbcdn.net/v/t1.0-9/84716650_2896101853775079_6186510269418569728_o.jpg?_nc_cat=107&_nc_sid=09cbfe&_nc_eui2=AeF6ZBVfrDcr7wTE1RCi4fMm1Hah5m_zQrvUdqHmb_NCu73pOmmQ05ndbYHrYMHXI6dnTKY3YW5-TDKpMBk8-ZPL&_nc_ohc=i8a5sDCq5-0AX_seBb5&_nc_ht=scontent.fuio1-1.fna&oh=fa39daaa72dd1e1f32d6d4623e69cda8&oe=5F54A640">
    </ion-avatar>
    <ion-label>Ing. Byron Tigse</ion-label>
    <ion-icon name="call-outline"></ion-icon>
    0983349964
  </ion-item>

  <br>
  <ion-item>
    <ion-avatar slot="end">
      <img src="https://scontent.fuio1-1.fna.fbcdn.net/v/t31.0-8/15578371_1189985364411965_7742207643267409954_o.jpg?_nc_cat=111&_nc_sid=09cbfe&_nc_eui2=AeHyRErWO99Nme9rZyJNDzkJzWvhxJRXhBPNa-HElFeEExasved4vPE32EQwea0As458N-Y4fqG2saPF2dNTw58G&_nc_ohc=67q5UxD5WBEAX_yyZXO&_nc_ht=scontent.fuio1-1.fna&oh=b9fb69ff7a7adb2d1bcebb74314400f6&oe=5F57F50D">
    </ion-avatar>
    <ion-label>Sr. Mario Suarez</ion-label>
    <ion-icon name="call-outline"></ion-icon>
    0987282675
  </ion-item>

  <br>
  <ion-item>
    <ion-avatar slot="end">
      <img src="https://scontent.fuio1-1.fna.fbcdn.net/v/t1.0-9/1148898_615797225118815_731988154_n.jpg?_nc_cat=104&_nc_sid=19026a&_nc_eui2=AeGfMxKd3k0PeOYOqf4cP7w_RYLr_lhM3alFguv-WEzdqZ4Eqdd5ETptW2gD3J2bMSfknzUi4B17NHMHufBXKUVE&_nc_ohc=bHxHalhIX_oAX8O8rGK&_nc_ht=scontent.fuio1-1.fna&oh=6bea15987128f15afef89f7eb353a8fc&oe=5F5594ED">
    </ion-avatar>
    <ion-label>Ing. Christian Ortega</ion-label>
    <ion-icon name="call-outline"></ion-icon>
    0992005070
    </ion-item>

</ion-content>
